.w-floating-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button__inner {
  display: flex;
  overflow: hidden;
  width: auto;
  float: right;
  padding: 0px;
  color: #fff;
  background: #FA5961;
  border-radius: 50px;
  background-clip: padding-box;
  border: 5px solid rgba(250, 89, 97, 0.2);
  box-shadow: 0px 15px 40px rgba(250, 89, 97, 0.16);
  cursor: pointer;
}

.floating-button__inner:hover .floating-button__title {
  opacity: 1;
  width: auto;
  max-width: 500px;
  margin-right: 0px;
}

.floating-button__title--full {
  padding-right: 38px;
}

.floating-button__inner:hover .floating-button__title--compact {
  padding-right: 38px;
}

.floating-button__icon-wrapper {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button__icon-wrapper svg {
  height: 40%;
}

.floating-button__title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
  font-family: SF Pro Display, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.floating-button__title--compact {
  visibility: none;
  width: auto;
  max-width: 0px;
  opacity: 0;
  transition: all 1s;
  padding-right: 0px;
}

.w-floating-button--compact .w-tooltip .w-tooltip__text {
  max-width: 300%;
  width: auto;
}